<div class="row">
    <div class="leftcolumn">
        <div class="card">
          <a href={{article_list}}>{{title}}</a>
        </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>关于我</h2>
        <div class="fakeimg" style="height:100px;">图片</div>
        <p>关于我的一些信息..</p>
      </div>
      <div class="card">
        <h3>热门文章</h3>
        <div class="fakeimg"><p>图片</p></div>
        <div class="fakeimg"><p>图片</p></div>
        <div class="fakeimg"><p>图片</p></div>
      </div>
      <div class="card">
        <h3>关注我</h3>
        <p>一些文本...</p>
      </div>
    </div>
</div>
  


